body {
  font-family: Raleway;
}

 /* １２００以上

 　　　１２００

        １２００ */

@media screen and (min-width: 1200px) {
  .inner {
    max-width: 1100px;
  }

  .cando-iphone {
    display: inline-block;
    margin-left: 70px;
  }

  .cando-contents {
    margin-bottom: 25px;
    margin-top: 50px;
    margin-left: 70px;
    max-width: 700px;
    vertical-align: top;
  }


  .images {
    font-size: 0;
    margin-bottom: 90px;
  }


  .img {
    display: inline-block;
    margin-right: 100px;
    margin-bottom: 80px;
  }

  .img:nth-child(3n) {
    margin-right: 0;
  }

  .img:nth-child(n + 4) {
    margin-bottom: 0;
  }

  .work_contents {
    font-size: 0;
  }

  .work_text {
    display: inline-block;
    max-width: 370px;
  }

  .work-email_btn {
    margin-left: 90px;
    vertical-align: top;
  }

  .skills_content {
    display: inline-block;
    margin-left: 180px;
  }

}

  /* PC＆タブレット */

@media screen and (min-width: 768px) {
  .theme {
    padding: 328px 0 250px 0;
  }

  .sns {
    padding: 200px 0;
  }

  .sns_btn {
    width: 185px;
    height: 100px;
    line-height: 100px;
  }

}


      /* タブレット＆スマホ */

      /* タブレット＆スマホ */

      /* タブレット＆スマホ */

      /* タブレット＆スマホ */


@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  .cando {
    padding-bottom: 25px;
  }

  .cando-iphone {
    display: block;
  }

  .cando-contents {
    margin-top: 20px;
    max-width: 1000px;
    vertical-align: top;
  }

  .img {
    display: block;
    margin: 0 auto;
  }

  .img:nth-child(3n) {
    margin-bottom: 80px;
  }

  .img:last-child {
    margin-bottom: 0;
  }

  .images {
    margin-bottom: 80px;
  }

  .work_text {
    display: block;
    margin: 0 auto 40px auto;
    max-width: 650px;
  }

  .skills_content {
    margin-bottom: 88px;
  }

  .skills_content:last-child {
    margin-bottom: 0;
  }

}


/* スマホ */

@media screen and (max-width: 767px) {
  .bolt-icon + div {
      display: none;
    }

  .humberger {
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 22px;
    padding: 10px;
    position: absolute;
    right: 0;
    vertical-align: middle;
  }

  .humberger_border, .humberger_border:before, .humberger_border:after {
    position: absolute;
    height: 3px;
    width: 30px;
    border-radius: 3px;
    background: #ddd;
    display: block;
    content: '';
  }

  .humberger_border:before {
    bottom: -8px;
  }

  .humberger_border:after {
    bottom: -16px;
  }

  .theme {
    padding: 238px 0 130px 0;
  }

  .main-title {
    font-size: 80px;
  }

  .sns {
    background-color: #f2f2f2;
    padding: 50px 0;
    text-align: center;
  }

  .sns_btn {
    display: block;
    width: 100%;
    height: auto;
    line-height: 100px;
    text-align: center;
  }

}



/* メディアクエリ終了////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////// */

.inner {
  margin: 0 auto;
}

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  padding: 15px 0;
  z-index: 100;
}

.header-inner {
  position: relative;
}

.bolt-icon {
  color: #696969;
}

.contact-btn {
  background-color: #74cfae;
  display: inline-block;
  font-size: 12px;
  padding: 14px 12px;
  position: absolute;
  right: 0;
  top: 0;
}

.btn-link {
  color: white;
  text-decoration: none;
  transition-duration: .3s;
}

.btn-link:hover {
  color: #333;
}

.theme {
  background-color: #f2f2f2;
  text-align: center;
}

.main-title {
  color: #74cfae;
  font-family: Lato;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px
}

.sub-title {
  color: #c0c0c0;
  font-size: 30px;
  line-height: 36px;
}

.cando {
  background-color: #74cfae;
  font-size: 0;
  padding-top: 50px;
  text-align: center;
}

.cando-contents {
  color: #fff;
  display: inline-block;
}

.cando-title {
  font-size: 24px;
  margin-bottom: 35px;
}

.cando-text {
  font-size: 20px;
  line-height: 24px;
}

.work {
  background-color: #f2f2f2;
  color: #4e4e4e;
  padding: 60px 0 70px 0;
  text-align: center;
}

.work_title {
  font-size: 24px;
  margin-bottom: 40px;
}

.images {
  font-size: 0;
}

.img {
  opacity: 0.7;
  transition-duration: .3s;
}

.img:hover {
  opacity: 1;
}

.work_text {
  font-size: 12px;
  line-height: 16px;
}

.work-email_btn {
  display: inline-block;
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
}

.skills {
  padding: 70px 0 100px 0;
  background-color: #4e4e4e;
  text-align: center;
}

.skills_title {
  color: #f2f2f2;
  font-size: 24px;
  margin-bottom: 50px;
  text-align: center;
}

.skills_main {
  display: inline-block;
  font-size: 0;
}

.skills_content:first-child {
  margin-left: 0;
}

.circle_img {
  margin-bottom: 20px;
}

.skills_text {
  color: #f2f2f2;
  font-size: 16px;
  text-align: center;
}

.sns {
  background-color: #f2f2f2;
  text-align: center;
}

.sns_btn {
  display: inline-block;
  text-align: center;
  transition-duration: .3s;
}

.sns_btn:hover {
  background-color: #fff;
}

.sns_icon {
  color: #74cfae;
  vertical-align: middle;
}

.footer {
  background-color: #74cfae;
  color: #fff;
  font-family: Lato;
  text-align: right;
  padding: 20px 0 25px 0;
  font-size: 20px;
}
